<section class="products" id="products">
  <div class="container products__container">
    <p class="products__label"><span>100% organic</span></p>
    <h2 class="products__titel"><span>ingredients</span></h2>
    <ul class="products__list">
      <li class="products__item products__item--coffee">
        <h3 class="products__name"><span>Vanilla</span></h3>
        <p class="products__descr">
            Delight in the classic, creamy taste of our vanilla, made with the finest organic ingredients.
        </p>
        <button
            type="button"
            class="products__btn js-open-modal"
            data-modal="products"
            aria-label="open modal screen"
        >
            <svg width="40" height="16">
                <use
                    class="products__icon"
                    href="./images/icons-sprite.svg#icon-arrow-products"
                ></use>
            </svg>
        </button>
    </li>
    <li class="products__item products__item--milkshakes">
        <h3 class="products__name"><span>Chocolate</span></h3>
        <p class="products__descr">
            Indulge in our rich and smooth chocolate, crafted from 100% whole organic cocoa.
        </p>
        <button
            type="button"
            class="products__btn js-open-modal"
            data-modal="products 1"
            aria-label="open modal screen"
        >
            <svg width="40" height="16">
                <use
                    class="products__icon"
                    href="./images/icons-sprite.svg#icon-arrow-products"
                ></use>
            </svg>
        </button>
    </li>
    <li class="products__item products__item--green">
        <h3 class="products__name"><span>Pistachio</span></h3>
        <p class="products__descr">
            Enjoy the unique and nutty flavor of our pistachio, made with organic pistachios for a truly delightful experience.
        </p>
        <button
            type="button"
            class="products__btn js-open-modal"
            data-modal="products 2"
            aria-label="open modal screen"
        >
            <svg width="40" height="16">
                <use
                    class="products__icon"
                    href="./images/icons-sprite.svg#icon-arrow-products"
                ></use>
            </svg>
        </button>
    </li>    
    </ul>
  </div>
</section>
